h1 {
    color: red; 
    background-color: blue;
}

#middle {
    background-color: brown;
    color: aqua;
    width: 400px;
    border-radius: 30px;
}

.edge {
    background-color: black;
    color: wheat;
    width: 700px;    
}



